Flask==0.10.1
Jinja2==2.7.3
Werkzeug==0.10.1
gunicorn==19.4.5
virtualenv==12.1.1
twilio==5.4.0
slacker==0.9.9
pymongo==3.2.1
emoji==0.3.9
wheel==0.26.0
requests==2.9.1
MarkupSafe==0.23
itsdangerous==0.24
wit==3.4.1
apiai==1.0.2
numpy==1.8.0
